<div class="container">
  <div class="row">
    <div class="total-box col-md-3 totaltoday">
      <span>HOY</span>
    </div>
    <div class="total-box col-md-3 totalyesterday">
      <span>AYER</span>
    </div>
    <div class="total-box col-md-3 totalpresentmonth">
      <span>ESTE MES</span>
    </div>
    <div class="total-box col-md-3 totalpreviousmonth">
      <span>MES PASADO</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Últimos 6 Meses</div>
        <div class="panel-body">
          <%= content_tag :div, "", id: "expenses-chart", class: "chart-height", data: { expenses: @expenses_six_months } %>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Día</div>
        <div class="panel-body">
          <%= content_tag :div, "", id: "daily-expenses-chart", class: "chart-height" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Categoría</div>
        <div class="panel-body">
          <%= content_tag :div, "", id: "category-chart", class: "chart-height", data: { categories: get_categories } %>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulado</div>
        <div class="panel-body">
          <%= content_tag :div, "", id: "month-acc", class: "chart-height" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  new LoadMetrics()
</script>
